# iceblips board

set_io --warn-no-port address[0] B1
set_io --warn-no-port address[1] A1
set_io --warn-no-port address[2] A2
set_io --warn-no-port address[3] A3

set_io --warn-no-port data[0] C6
set_io --warn-no-port data[1] B6
set_io --warn-no-port data[2] B5
set_io --warn-no-port data[3] B4

set_io --warn-no-port phi2 D1
set_io --warn-no-port web C5
set_io --warn-no-port be E6

set_io --warn-no-port led_0 D6
set_io --warn-no-port led_1 E1
set_io --warn-no-port clk F2

